<footer class="sticky-footer mt-auto py-4 bg-dark fixed-bottom">
  <div class="container">
    <span class="text-muted"><%= link_to "Fitness By Instruction", "https://www.fitnessbyinstruction.com" %></span>
  </div>
</footer>